h6 {
  margin: 0px;
}
hr {
  margin: 0px;
}
.card {
  width: 300px !important;
}
.card img {
  height: 170px;
}
.card-body {
  padding: 0px;
}
input {
  margin-bottom: 20px;
}
.navbar {
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .md-hidden {
    display: none;
  }
}
